@model UAHFitVault.Models.CreatePatientViewModel

@{
    ViewBag.Title = "Create Patient Account Confirmation";
}

@if (User.IsInRole("Physician"))
{

@section headers{
    <link type="text/css" rel="stylesheet" href="~/Content/select-activity.css" media="screen,projection" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <hr />
        @if (Html.ValidationSummary().ToString().Contains("display:none"))
        {
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Username)</td>
                    <td>@Html.DisplayTextFor(m => m.Username)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Birthdate)</td>
                    <td>@Html.DisplayTextFor(m => m.Birthdate)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Height)</td>
                    <td>@Html.DisplayTextFor(m => m.Height)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Weight)</td>
                    <td>@Html.DisplayTextFor(m => m.Weight)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Gender)</td>
                    <td>@Html.DisplayTextFor(m => m.Gender)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Ethnicity)</td>
                    <td>@Html.DisplayTextFor(m => m.Ethnicity)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Race)</td>
                    <td>@Html.DisplayTextFor(m => m.Race)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Location)</td>
                    <td>@Html.DisplayTextFor(m => m.Location)</td>
                </tr>
            </table>
            <input type="button" value="Back" class="btn" onclick="location.href = '/Physician/Index#addPatient'" />
        }
        else
        {
            // Error path, username already exists or was null.
            @Html.ValidationSummary("", new { @class = "text-danger" }); // Display error
            <input type="button" value="Back" class="btn" onclick="location.href = '/Physician/Index#addPatient'" />
        }
</body>
</html>
}