
@{
    ViewBag.Title = "Reset Password";
}
@model UAHFitVault.Models.PhysicianResetPasswordViewModel

<h5>Reset Password for User <i>@Model.Username</i></h5>

@using (Html.BeginForm("ResetPassword", "Physician", FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Username)
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.TextBoxFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.TextBoxFor(m => m.ConfirmPassword)</td>
        </tr>
    </table>
            <input type="submit" class="btn" value="Submit" />
            <input type="button" class="btn" value="Cancel" onclick="location.href = '/Account/LoginRedirect';" />
}        