@using UAHFitVault.Database.Entities;
@using UAHFitVault.LogicLayer.Enums;
@using UAHFitVault.LogicLayer.Models;

@model List<PatientDataByDevice>

@section headers{
    <link type="text/css" rel="stylesheet" href="~/Content/dateCard.css" media="screen,projection" />   
    <link type="text/css" rel="stylesheet" href="~/Content/tableCard.css" media="screen,projection" />   
}

@{ 

    //List <string> devices = Model.Select(m => m.MedicalDevice).ToList();
    //List<string> zephyrDataTypes = Enum.GetNames(typeof(ZephyrDataTypes)).Cast<string>().Select(z => z.Replace("_", " ")).ToList();
    //List<string> zephyrSummaryTypes = Enum.GetNames(typeof(ZephyrSummaryDataTypes)).Cast<string>().Select(z => z.Replace("_", " ")).ToList();
    //List<string> basicPeakDataTypes = Enum.GetNames(typeof(BasisPeakTypes)).Cast<string>().Select(z => z.Replace("_", " ")).ToList();
}

<h2>View Patient Data</h2>

<div class="col s12">
    <div class="row dateCard">
        <div class="dateCard__header">
            Date Range Filter
        </div>
        <div class="row dateCard__container">
            <span class="dateCard__fromDate">
                <label for="fromDate">Start Date</label>
                <input id="fromDate" name="FromDate" type="date" class="datepicker"/>
            </span>
            <span class="dateCard__toDate">
                <label for="toDate">End Date</label>
                <input id="toDate" name="ToDate" type="date" class="datepicker" />
            </span>
        </div>
    </div>
    <div class="row tableCard">
        <div class="tableCard__header">
            Medical Devices
        </div>
        <table class="tableCard__table">
            @foreach (PatientDataByDevice device in Model) {
                <tr class="tableCard__tableRow" data-deviceName="@device.MedicalDevice">
                    <td>@device.MedicalDevice</td>
                </tr>
                
                List<string> deviceTypes = device.DataRecords.Select(d => d.DataType)
                                    .Distinct().Cast<File_Type>().Select(d => d.ToString().Replace("_", " ")).ToList();
                
                foreach (string type in deviceTypes) {
                    <tr class="tableCard__collapsableRow" data-deviceName="@device.MedicalDevice" data-deviceType="@type">
                        <td>@type</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@section scripts {
<script src="~/Scripts/pickadate/picker.js"></script>
<script src="~/Scripts/pickadate/picker.date.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });

    $(".tableCard__tableRow").click(function (element) {
        var name = $(element.currentTarget).data("devicename");
        $(".tableCard__collapsableRow").removeClass("tableCard__collapsableRow--isOpen");
        $(".tableCard__tableRow").removeClass("tableCard__tableRow--isActive");
        $(element).addClass("tableCard__tableRow--isActive");
        $(".tableCard__collapsableRow[data-deviceName='" + name + "']").addClass("tableCard__collapsableRow--isOpen");
    });

    function expandDeviceType(element) {
        var name = $(element).data("deviceName");

    }

    function changeTabs(element) {            
        var name = $(element).data("deviceName");
        $(".patientTabs__tab").removeClass("patientTabs__tab--isActive");
        $(elment).addClass("patientTabs__tab--isActive");
    }

</script>
}