@using UAHFitVault.Database.Entities;
@using UAHFitVault.LogicLayer.Enums;

@model List<string>

@{ 
    List<string> zephyrDataTypes = Enum.GetNames(typeof(ZephyrDataTypes)).Cast<string>().Select(z => z.Replace("_", " ")).ToList();
    List<string> zephyrSummaryTypes = Enum.GetNames(typeof(ZephyrSummaryDataTypes)).Cast<string>().Select(z => z.Replace("_", " ")).ToList();
   // List<string> zephyrDataTypes = Enum.GetNames(typeof(ZephyrDataTypes)).Cast<string>().Select(z => z.Replace("_", " ")).ToList();
}

<h2>View Patient Data</h2>

<div class="rows col s12">
    <!--DatePickers-->
    <div id="date-pickers" class="row center-align section">
        <div class="col s3 offset-s3">
            <label class="form-label"  for="fromDate">From Date</label>
            <input id="fromDate" class="datepicker" type="text" />
        </div>
        <div class="col s3">
            <label class="form-label" for="toDate">To Date</label>
            <input id="toDate" class="datepicker" type="text" />
        </div>
    </div>
    <!--Medical device selection-->
    <div class="row center-align section">
        <div class="col s3 offset-s4 card-panel hoverable">
            @foreach (string device in Model) {
                <p>
                    <div class="switch row">
                        @{
                            string id = device + "Id";
                        }
                        <div class="col s6">
                            <label class="form-label" for="@id">@device</label>
                        </div>
                        <div class="col s1">
                            <label>
                                <input id="@id" type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </p>
            }
        </div>
    </div>
    <!--Device Data Category Selection-->
    <div class="row center-align section">
        <div class="col s3 card-panel hoverable">
            @foreach (string dataType in zephyrDataTypes) {
                <p>
                    <div class="switch row">
                        @{
                            string id = dataType + "Id";
                        }
                        <div class="col s8">
                            <label class="form-label" for="@id">@dataType</label>
                        </div>
                        <div class="col s1">
                            <label>
                                <input id="@id" type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </p>
            }
        </div>
        <div class="col s8 offset-s1 card-panel hoverable" >
            @foreach (string dataType in zephyrSummaryTypes) {
                <p>
                    <div class="switch row">
                        @{
                            string id = dataType + "Id";
                        }
                        <div class="col s6">
                            <label class="form-label" for="@id">@dataType</label>
                        </div>
                        <div class="col s1">
                            <label>
                                <input id="@id" type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </p>
             }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/pickadate/picker.js"></script>
    <script src="~/Scripts/pickadate/picker.date.js"></script>
    <script>
            $(document).ready(function () {
                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 5 // Creates a dropdown of 5 years to control year
                });
            });
    </script>
}