
@using UAHFitVault.Models

@model ViewAllExperimentsViewModel

<h2 class="center-align">View Experiments</h2>
@if (Model.Experiments.Count != 0)
{
    <div class="row card-panel light-blue lighten-1">
        <div class="col s4 black-text"><font size="5"><b>Experiment Name</b></font></div>
        <div class="col s4 black-text"><font size="5"><b>Last Modified</b></font></div>
        <div class="col s4 black-text"><font size="5"><b>Actions</b></font></div>
    </div>
    int i = 0;
    foreach (var item in Model.Experiments)
    {
        if ((i % 2) == 0)
        {
            @Html.Raw("<div class=\"row blue card-panel lighten-4\">")
        }
        else
        {
            @Html.Raw("<div class=\"row light-blue card-panel lighten-4\">")
        }
                <div class="col s4 black-text">@item.Name</div>
                <div class="col s4 black-text">@item.LastModified.ToString()</div>
                <div class="col s4 black-text"><input type="button" class="btn blue-grey" value="View" onclick="location.href='/Experiment/ViewExperiment?experimentName=@item.Name';" />
                <input type="button" class="btn red" value="Delete" onclick="location.href='/Experiment/DeleteExperiment?experimentName=@item.Name';" /></div>
            i++;
        @Html.Raw("</div>")
        }
}
else
{
    <h5>You do not have any experiments to view.</h5>
}