@model UAHFitVault.Models.ViewPatientViewModel
@using UAHFitVault.LogicLayer.Enums
@using UAHFitVault.Database.Entities

@{
    ViewBag.Title = "View Patient";
    List<string> activityTags = new List<string>();
    activityTags.Add("All");
    activityTags.AddRange(Enum.GetNames(typeof(ActivityType)).ToList());

    for (int i = 0; i < activityTags.Count; i++)
    {
        activityTags[i] = activityTags[i].Replace("_", " ");
    }
}

@if (Model != null)
{
    <h5>View Patient</h5>

    <table class="centered">
        <tr class="blue lighten-2" style="font-weight:500">
            <td>Gender</td>
            <td>Race</td>
            <td>Ethnicity</td>
            <td>Age</td>
            <td>Height<br /><font size="1">(inches)</font></td>
            <td>Weight<br /><font size="1">(pounds)</font></td>
            <td>Location</td>
        </tr>
        <tr class="blue lighten-3">
            <td>@Enum.GetName(typeof(PatientGender), Model.patient.Gender)</td>
            <td>@Enum.GetName(typeof(PatientRace), Model.patient.Race)</td>
            <td>@Enum.GetName(typeof(PatientEthnicity), Model.patient.Ethnicity)</td>
            <td>@((DateTime.Now - Model.patient.Birthdate).Days / 365)</td>
            <td>@Model.patient.Height</td>
            <td>@Model.patient.Weight</td>
            <td>@Enum.GetName(typeof(Location), Model.patient.Location)</td>
    </table>

    <hr />
    <table>
    <tr>
        <td><h5>Sessions</h5></td>
        @using (Html.BeginForm("ViewPatient", "Experiment", FormMethod.Post))
        {@Html.HiddenFor(m => m.patient.Id)
        <td style="width: 200px; text-align: right">Filter by Activity Tag</td>
        <td style="width: 250px;">@Html.DropDownListFor(m => m.ActivityTagFilter, new SelectList(activityTags),
            new { @class = "browser-default validate" })
        </td>
        <td style="width: 150px;"><input type="submit" class="btn green" value="Filter" /></td>
        }
    </tr>
    </table>
    <br />
    if (Model.ActivityTagFilter != null)
    {
        <h5>Displaying data filtered by @Model.ActivityTagFilter</h5>
        <table>
            <tr class="blue lighten-2" style="font-weight:500">
                <td>Id</td>
                <td>Name</td>
                <td>Upload Date</td>
                <td>Date Recorded</td>
                <td>Actions</td>
            </tr>
            @* Display the patient data records *@
            @foreach (PatientData patientData in Model.patientData)
            {
                bool patientDataContainsActivity = false;
                if (Model.ActivityTagFilter != "All")
                {
                    foreach (Activity activity in patientData.Activities)
                    {
                        if (Enum.GetName(typeof(ActivityType), activity) == Model.ActivityTagFilter.Replace(" ", "_"))
                        {
                            patientDataContainsActivity = true;
                        }
                    }
                }
                else
                {
                    patientDataContainsActivity = true; // All data sets should be displayed; i.e. no activity tag filter.
                }
                if (patientDataContainsActivity)
                {
                    <tr class="blue lighten-3">
                        <td>@patientData.Id</td>
                        <td>@patientData.Name</td>
                        <td>@patientData.UploadDate</td>
                        <td>@patientData.ToDate.ToShortDateString()</td>
                        <td><input type="button" class="btn green" value="View Chart" /></td>
                    </tr>
                }
            }
        </table>
    }
}

