@using UAHFitVault.Models
@using UAHFitVault.Database.Entities;

@model List<UserInfoModel>

<div class="container">
    <h2 class="center-align">Pending Users</h2>

    @if (Model != null) {
        <table class="centered responsive-table striped">
            <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="role">Role</th>
                    <th data-field="actions">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Role</td>
                        <td>
                            @{
                                string approveButtonId = "btnApprove" + Model.IndexOf(item);
                                string rejectButtonId = "btnReject" + Model.IndexOf(item);
                            }
                            <button id="@approveButtonId" class="waves-effect waves-light btn blue" onclick="enableUser(this)" value="@item.UserId">Approve</button>
                            <button id="@rejectButtonId" class="waves-effect waves-light btn red" onclick="rejectUser(this)" value="@item.UserId">Reject</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reason for Account Request:<br />
                            @item.ReasonForRequest
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>