@model UAHFitVault.Models.SystemAdminResetPasswordViewModel

<!DOCTYPE html>

<html>
@if (User.IsInRole("System Administrator"))
{
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Reset Password</title>
    </head>
    <body>
        <h3>Resetting password for user: @Html.DisplayTextFor(m => m.Username)</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Username)
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.TextBoxFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                    <td>@Html.TextBoxFor(m => m.ConfirmPassword)</td>
                </tr>
            </table>
        <input type="submit" class="btn" value="Submit" />
        <input type="button" class="btn" value="Cancel" onclick="location.href = '/Account/LoginRedirect';" />
        }        
    </body>
}
else
{
    <body>ERROR: You do not have permission to view this page.</body>
}
</html>