@model UAHFitVault.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@using (Html.BeginForm("Index", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h4>Change your account settings (@Html.DisplayTextFor(m => m.Username))@Html.HiddenFor(m => m.Username)</h4>
    <hr />
    <table width="300" align="center">
        <tr>
            <td>@Html.LabelFor(m => m.AccountRole)</td>
            <td>@Html.DisplayTextFor(m => m.AccountRole)@Html.HiddenFor(m => m.AccountRole)</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
            [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                    @Html.HiddenFor(m => m.HasPassword)
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                    @Html.HiddenFor(m => m.HasPassword)
                }
            ]
            </td>
        </tr>
        @if (Model.AccountRole == "Patient")
        {
            <tr>
                <td>@Html.LabelFor(m => m.Birthdate)</td>
                <td>@Html.TextBoxFor(m => m.Birthdate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Gender)</td>
                <td>
                    <input name="gender" type="radio" id="genderMale" value="Male" />
                    <label for="genderMale" style="margin-right:40px">Male</label>
                    <input name="gender" type="radio" id="genderFemale" value="Female" checked />
                    <label for="genderFemale">Female</label>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Weight)</td>
                <td>@Html.TextBoxFor(m => m.Weight)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Height)</td>
                <td>@Html.TextBoxFor(m => m.Height)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Location)</td>
                <td>@Html.TextBoxFor(m => m.Location)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Race)</td>
                <td>@Html.TextBoxFor(m => m.Race)</td>
            </tr>
        }
        else if (Model.AccountRole == "Physician")
        {
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Address)</td>
                <td>@Html.TextBoxFor(m => m.Address)</td>
            </tr>
        }
        else if (Model.AccountRole == "Experiment Administrator")
        {
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Address)</td>
                <td>@Html.TextBoxFor(m => m.Address)</td>
            </tr>
        }
    </table>
<input type="submit" class="btn btn-default" value="Save" />
}