@model UAHFitVault.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
    <h4>Change your account settings</h4>
    <hr />
    <table width="300" align="center">
        <tr>
            <td>@Html.LabelFor(m => m.AccountRole)</td>
            <td>@Html.DisplayTextFor(m => m.AccountRole)</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
            [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            ]
            </td>
        </tr>
        @if (Model.AccountRole == "Patient")
        {
            <tr>
                <td>@Html.LabelFor(m => m.Birthdate)</td>
                <td>@Html.TextBoxFor(m => m.Birthdate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Sex)</td>
                <td>
                    <input name="sex" type="radio" id="sexMale" value="Male" />
                    <label for="sexMale" style="margin-right:40px">Male</label>
                    <input name="sex" type="radio" id="sexFemale" value="Female" checked />
                    <label for="sexFemale">Female</label>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Weight)</td>
                <td>@Html.TextBoxFor(m => m.Weight)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Height)</td>
                <td>@Html.TextBoxFor(m => m.Height)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Location)</td>
                <td>@Html.TextBoxFor(m => m.Location)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Race)</td>
                <td>@Html.TextBoxFor(m => m.Race)</td>
            </tr>
        }
        else if (Model.AccountRole == "Physician")
        {
            <tr>
                <td>Email:</td>
                <td><!-- Email here --></td>
            </tr>
        }
        else if (Model.AccountRole == "Experiment Administrator")
        {
            <tr>
                <td>Email:</td>
                <td><!-- Email here --></td>
            </tr>
        }
    </table>
<input type="submit" class="btn btn-default" value="Save" />